{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "RemediationsClient",
        "version": "2018-07-01-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2018-07-01-preview/remediations.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "policyinsights-remediations",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations": {
            "get": {
                "description": "Gets all remediations for the management group.",
                "operationId": "Remediations_ListForManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group ID.",
                        "in": "path",
                        "name": "managementGroupId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "OData filter expression.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "x-ms-client-name": "Filter",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved remediations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of remediations.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to get the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of remediation definitions.",
                                            "items": {
                                                "description": "The remediation definition.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the remediation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the remediation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the remediation.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "createdOn": {
                                                                "description": "The time at which the remediation was created.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentStatus": {
                                                                "description": "The deployment status summary for all deployments created by the remediation.",
                                                                "properties": {
                                                                    "failedDeployments": {
                                                                        "description": "The number of deployments required by the remediation that have failed.",
                                                                        "type": "integer"
                                                                    },
                                                                    "successfulDeployments": {
                                                                        "description": "The number of deployments required by the remediation that have succeeded.",
                                                                        "type": "integer"
                                                                    },
                                                                    "totalDeployments": {
                                                                        "description": "The number of deployments required by the remediation.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "filters": {
                                                                "description": "The filters that will be applied to determine which resources to remediate.",
                                                                "properties": {
                                                                    "locations": {
                                                                        "description": "The resource locations that will be remediated.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "lastUpdatedOn": {
                                                                "description": "The time at which the remediation was last updated.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentId": {
                                                                "description": "The resource ID of the policy assignment that should be remediated.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionReferenceId": {
                                                                "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The status of the remediation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the remediation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "List remediations at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "name": "790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "properties": {
                                                "createdOn": "2018-09-13T21:51:09.075918Z",
                                                "deploymentStatus": {
                                                    "failedDeployments": 0,
                                                    "successfulDeployments": 2,
                                                    "totalDeployments": 2
                                                },
                                                "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                                "policyAssignmentId": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                                "provisioningState": "Succeeded"
                                            },
                                            "type": "Microsoft.PolicyInsights/remediations"
                                        },
                                        {
                                            "id": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8",
                                            "name": "0866f0cc-6cb3-422c-9fb6-a4e3e2266da8",
                                            "properties": {
                                                "createdOn": "2018-09-13T21:49:16.4638131Z",
                                                "deploymentStatus": {
                                                    "failedDeployments": 0,
                                                    "successfulDeployments": 2,
                                                    "totalDeployments": 2
                                                },
                                                "lastUpdatedOn": "2018-09-13T21:50:18.4647478Z",
                                                "policyAssignmentId": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                                "provisioningState": "Succeeded"
                                            },
                                            "type": "Microsoft.PolicyInsights/remediations"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    },
                    "List remediations at management group scope with query parameters": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "name": "790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "properties": {
                                                "createdOn": "2018-09-13T21:51:09.075918Z",
                                                "deploymentStatus": {
                                                    "failedDeployments": 0,
                                                    "successfulDeployments": 2,
                                                    "totalDeployments": 2
                                                },
                                                "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                                "policyAssignmentId": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                                "provisioningState": "Succeeded"
                                            },
                                            "type": "Microsoft.PolicyInsights/remediations"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}": {
            "delete": {
                "description": "Deletes an existing remediation at management group scope.",
                "operationId": "Remediations_DeleteAtManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group ID.",
                        "in": "path",
                        "name": "managementGroupId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the remediation.",
                        "in": "path",
                        "name": "remediationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The deleted remediation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The remediation definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the remediation.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "createdOn": {
                                                    "description": "The time at which the remediation was created.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deploymentStatus": {
                                                    "description": "The deployment status summary for all deployments created by the remediation.",
                                                    "properties": {
                                                        "failedDeployments": {
                                                            "description": "The number of deployments required by the remediation that have failed.",
                                                            "type": "integer"
                                                        },
                                                        "successfulDeployments": {
                                                            "description": "The number of deployments required by the remediation that have succeeded.",
                                                            "type": "integer"
                                                        },
                                                        "totalDeployments": {
                                                            "description": "The number of deployments required by the remediation.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "filters": {
                                                    "description": "The filters that will be applied to determine which resources to remediate.",
                                                    "properties": {
                                                        "locations": {
                                                            "description": "The resource locations that will be remediated.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lastUpdatedOn": {
                                                    "description": "The time at which the remediation was last updated.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "policyAssignmentId": {
                                                    "description": "The resource ID of the policy assignment that should be remediated.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionReferenceId": {
                                                    "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "The status of the remediation.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "The remediation did not exist."
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Delete remediation at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "remediationName": "storageRemediation"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation",
                                    "name": "storageRemediation",
                                    "properties": {
                                        "createdOn": "2018-09-13T21:51:09.075918Z",
                                        "deploymentStatus": {
                                            "failedDeployments": 0,
                                            "successfulDeployments": 2,
                                            "totalDeployments": 2
                                        },
                                        "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                        "policyAssignmentId": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                        "provisioningState": "Succeeded"
                                    },
                                    "type": "Microsoft.PolicyInsights/remediations"
                                },
                                "headers": {}
                            },
                            "204": {
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Gets an existing remediation at management group scope.",
                "operationId": "Remediations_GetAtManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group ID.",
                        "in": "path",
                        "name": "managementGroupId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the remediation.",
                        "in": "path",
                        "name": "remediationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved remediation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The remediation definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the remediation.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "createdOn": {
                                                    "description": "The time at which the remediation was created.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deploymentStatus": {
                                                    "description": "The deployment status summary for all deployments created by the remediation.",
                                                    "properties": {
                                                        "failedDeployments": {
                                                            "description": "The number of deployments required by the remediation that have failed.",
                                                            "type": "integer"
                                                        },
                                                        "successfulDeployments": {
                                                            "description": "The number of deployments required by the remediation that have succeeded.",
                                                            "type": "integer"
                                                        },
                                                        "totalDeployments": {
                                                            "description": "The number of deployments required by the remediation.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "filters": {
                                                    "description": "The filters that will be applied to determine which resources to remediate.",
                                                    "properties": {
                                                        "locations": {
                                                            "description": "The resource locations that will be remediated.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lastUpdatedOn": {
                                                    "description": "The time at which the remediation was last updated.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "policyAssignmentId": {
                                                    "description": "The resource ID of the policy assignment that should be remediated.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionReferenceId": {
                                                    "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "The status of the remediation.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Get remediation at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "remediationName": "storageRemediation"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation",
                                    "name": "storageRemediation",
                                    "properties": {
                                        "createdOn": "2018-09-13T21:51:09.075918Z",
                                        "deploymentStatus": {
                                            "failedDeployments": 0,
                                            "successfulDeployments": 2,
                                            "totalDeployments": 2
                                        },
                                        "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                        "policyAssignmentId": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                        "provisioningState": "Succeeded"
                                    },
                                    "type": "Microsoft.PolicyInsights/remediations"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates or updates a remediation at management group scope.",
                "operationId": "Remediations_CreateOrUpdateAtManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group ID.",
                        "in": "path",
                        "name": "managementGroupId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the remediation.",
                        "in": "path",
                        "name": "remediationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated remediation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The remediation definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the remediation.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "createdOn": {
                                                    "description": "The time at which the remediation was created.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deploymentStatus": {
                                                    "description": "The deployment status summary for all deployments created by the remediation.",
                                                    "properties": {
                                                        "failedDeployments": {
                                                            "description": "The number of deployments required by the remediation that have failed.",
                                                            "type": "integer"
                                                        },
                                                        "successfulDeployments": {
                                                            "description": "The number of deployments required by the remediation that have succeeded.",
                                                            "type": "integer"
                                                        },
                                                        "totalDeployments": {
                                                            "description": "The number of deployments required by the remediation.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "filters": {
                                                    "description": "The filters that will be applied to determine which resources to remediate.",
                                                    "properties": {
                                                        "locations": {
                                                            "description": "The resource locations that will be remediated.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lastUpdatedOn": {
                                                    "description": "The time at which the remediation was last updated.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "policyAssignmentId": {
                                                    "description": "The resource ID of the policy assignment that should be remediated.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionReferenceId": {
                                                    "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "The status of the remediation.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "The created remediation.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The remediation definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the remediation.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "createdOn": {
                                                    "description": "The time at which the remediation was created.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deploymentStatus": {
                                                    "description": "The deployment status summary for all deployments created by the remediation.",
                                                    "properties": {
                                                        "failedDeployments": {
                                                            "description": "The number of deployments required by the remediation that have failed.",
                                                            "type": "integer"
                                                        },
                                                        "successfulDeployments": {
                                                            "description": "The number of deployments required by the remediation that have succeeded.",
                                                            "type": "integer"
                                                        },
                                                        "totalDeployments": {
                                                            "description": "The number of deployments required by the remediation.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "filters": {
                                                    "description": "The filters that will be applied to determine which resources to remediate.",
                                                    "properties": {
                                                        "locations": {
                                                            "description": "The resource locations that will be remediated.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lastUpdatedOn": {
                                                    "description": "The time at which the remediation was last updated.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "policyAssignmentId": {
                                                    "description": "The resource ID of the policy assignment that should be remediated.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionReferenceId": {
                                                    "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "The status of the remediation.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Create remediation at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "parameters": {
                                "properties": {
                                    "policyAssignmentId": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5"
                                }
                            },
                            "remediationName": "storageRemediation"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation",
                                    "name": "storageRemediation",
                                    "properties": {
                                        "createdOn": "2018-09-12T20:58:58.7531298Z",
                                        "deploymentStatus": {
                                            "failedDeployments": 0,
                                            "successfulDeployments": 0,
                                            "totalDeployments": 2
                                        },
                                        "lastUpdatedOn": "2018-09-12T20:58:58.7531298Z",
                                        "policyAssignmentId": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                        "provisioningState": "Accepted"
                                    },
                                    "type": "Microsoft.PolicyInsights/remediations"
                                },
                                "headers": {}
                            },
                            "201": {
                                "body": {
                                    "id": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/storageRemediation",
                                    "name": "storageRemediation",
                                    "properties": {
                                        "createdOn": "2018-09-12T20:58:58.7531298Z",
                                        "deploymentStatus": {
                                            "failedDeployments": 0,
                                            "successfulDeployments": 0,
                                            "totalDeployments": 2
                                        },
                                        "lastUpdatedOn": "2018-09-12T20:58:58.7531298Z",
                                        "policyAssignmentId": "/providers/microsoft.management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                        "provisioningState": "Accepted"
                                    },
                                    "type": "Microsoft.PolicyInsights/remediations"
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The remediation definition.",
                                "properties": {
                                    "id": {
                                        "description": "The ID of the remediation.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name of the remediation.",
                                        "readOnly": true,
                                        "type": "string"
                                    },
                                    "properties": {
                                        "description": "Properties for the remediation.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "createdOn": {
                                                "description": "The time at which the remediation was created.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "deploymentStatus": {
                                                "description": "The deployment status summary for all deployments created by the remediation.",
                                                "properties": {
                                                    "failedDeployments": {
                                                        "description": "The number of deployments required by the remediation that have failed.",
                                                        "type": "integer"
                                                    },
                                                    "successfulDeployments": {
                                                        "description": "The number of deployments required by the remediation that have succeeded.",
                                                        "type": "integer"
                                                    },
                                                    "totalDeployments": {
                                                        "description": "The number of deployments required by the remediation.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "filters": {
                                                "description": "The filters that will be applied to determine which resources to remediate.",
                                                "properties": {
                                                    "locations": {
                                                        "description": "The resource locations that will be remediated.",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "lastUpdatedOn": {
                                                "description": "The time at which the remediation was last updated.",
                                                "format": "date-time",
                                                "readOnly": true,
                                                "type": "string"
                                            },
                                            "policyAssignmentId": {
                                                "description": "The resource ID of the policy assignment that should be remediated.",
                                                "type": "string"
                                            },
                                            "policyDefinitionReferenceId": {
                                                "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                "type": "string"
                                            },
                                            "provisioningState": {
                                                "description": "The status of the remediation.",
                                                "readOnly": true,
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": {
                                        "description": "The type of the remediation.",
                                        "readOnly": true,
                                        "type": "string"
                                    }
                                },
                                "x-ms-azure-resource": true,
                                "type": "object"
                            }
                        }
                    },
                    "description": "The remediation parameters.",
                    "required": true
                }
            }
        },
        "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/cancel": {
            "post": {
                "description": "Cancels a remediation at management group scope.",
                "operationId": "Remediations_CancelAtManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group ID.",
                        "in": "path",
                        "name": "managementGroupId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the remediation.",
                        "in": "path",
                        "name": "remediationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The remediation that was canceled.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The remediation definition.",
                                    "properties": {
                                        "id": {
                                            "description": "The ID of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "Properties for the remediation.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "createdOn": {
                                                    "description": "The time at which the remediation was created.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "deploymentStatus": {
                                                    "description": "The deployment status summary for all deployments created by the remediation.",
                                                    "properties": {
                                                        "failedDeployments": {
                                                            "description": "The number of deployments required by the remediation that have failed.",
                                                            "type": "integer"
                                                        },
                                                        "successfulDeployments": {
                                                            "description": "The number of deployments required by the remediation that have succeeded.",
                                                            "type": "integer"
                                                        },
                                                        "totalDeployments": {
                                                            "description": "The number of deployments required by the remediation.",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "filters": {
                                                    "description": "The filters that will be applied to determine which resources to remediate.",
                                                    "properties": {
                                                        "locations": {
                                                            "description": "The resource locations that will be remediated.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "lastUpdatedOn": {
                                                    "description": "The time at which the remediation was last updated.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "policyAssignmentId": {
                                                    "description": "The resource ID of the policy assignment that should be remediated.",
                                                    "type": "string"
                                                },
                                                "policyDefinitionReferenceId": {
                                                    "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "The status of the remediation.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "The type of the remediation.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "x-ms-azure-resource": true,
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Cancel a remediation at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "remediationName": "myRemediation"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.policyinsights/remediations/myRemediation",
                                    "name": "myRemediation",
                                    "properties": {
                                        "createdOn": "2018-09-13T21:51:09.075918Z",
                                        "deploymentStatus": {
                                            "failedDeployments": 0,
                                            "successfulDeployments": 2,
                                            "totalDeployments": 2
                                        },
                                        "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                        "policyAssignmentId": "/providers/Microsoft.Management/managementGroups/financeMg/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                        "provisioningState": "Cancelling"
                                    },
                                    "type": "Microsoft.PolicyInsights/remediations"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            }
        },
        "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupId}/providers/Microsoft.PolicyInsights/remediations/{remediationName}/listDeployments": {
            "post": {
                "description": "Gets all deployments for a remediation at management group scope.",
                "operationId": "Remediations_ListDeploymentsAtManagementGroup",
                "parameters": [
                    {
                        "description": "The namespace for Microsoft Management RP; only \"Microsoft.Management\" is allowed.",
                        "in": "path",
                        "name": "managementGroupsNamespace",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Microsoft.Management"
                            ]
                        }
                    },
                    {
                        "description": "Management group ID.",
                        "in": "path",
                        "name": "managementGroupId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the remediation.",
                        "in": "path",
                        "name": "remediationName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved remediation deployments.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "List deployments for a remediation at management group scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "managementGroupId": "financeMg",
                            "managementGroupsNamespace": "Microsoft.Management",
                            "remediationName": "myRemediation"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "createdOn": "2018-09-13T21:51:09.075918Z",
                                            "deploymentId": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.resources/deployments/a088e8fd-8600-4126-8d74-fc7ead0e9ae4",
                                            "lastUpdatedOn": "2018-09-13T21:52:09.8919106Z",
                                            "remediatedResourceId": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.storage/storageaccounts/storAc1",
                                            "resourceLocation": "eastus",
                                            "status": "Succeeded"
                                        },
                                        {
                                            "createdOn": "2018-09-13T21:51:09.075918Z",
                                            "deploymentId": "/subscriptions/c1164d71-0942-499f-bc2f-b6b7b0bae493/resourcegroups/rg3/providers/microsoft.resources/deployments/6b8898c0-18a2-449e-987a-8d4d4f634f56",
                                            "lastUpdatedOn": "2018-09-13T21:52:09.8761679Z",
                                            "remediatedResourceId": "/subscriptions/c1164d71-0942-499f-bc2f-b6b7b0bae493/resourcegroups/rg3/providers/microsoft.storage/storageaccounts/stor1",
                                            "resourceLocation": "westus",
                                            "status": "Succeeded"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/remediations": {
            "get": {
                "description": "Gets all remediations for the subscription.",
                "operationId": "Remediations_ListForSubscription",
                "parameters": [
                    {
                        "description": "Microsoft Azure subscription ID.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Maximum number of records to return.",
                        "in": "query",
                        "name": "$top",
                        "required": false,
                        "x-ms-client-name": "Top",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "minimum": 0
                        }
                    },
                    {
                        "description": "OData filter expression.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "x-ms-client-name": "Filter",
                        "x-ms-parameter-grouping": {
                            "name": "QueryOptions"
                        },
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "x-ms-parameter-location": "client",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The retrieved remediations.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of remediations.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to get the next set of results.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of remediation definitions.",
                                            "items": {
                                                "description": "The remediation definition.",
                                                "properties": {
                                                    "id": {
                                                        "description": "The ID of the remediation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The name of the remediation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "Properties for the remediation.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "createdOn": {
                                                                "description": "The time at which the remediation was created.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "deploymentStatus": {
                                                                "description": "The deployment status summary for all deployments created by the remediation.",
                                                                "properties": {
                                                                    "failedDeployments": {
                                                                        "description": "The number of deployments required by the remediation that have failed.",
                                                                        "type": "integer"
                                                                    },
                                                                    "successfulDeployments": {
                                                                        "description": "The number of deployments required by the remediation that have succeeded.",
                                                                        "type": "integer"
                                                                    },
                                                                    "totalDeployments": {
                                                                        "description": "The number of deployments required by the remediation.",
                                                                        "type": "integer"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "filters": {
                                                                "description": "The filters that will be applied to determine which resources to remediate.",
                                                                "properties": {
                                                                    "locations": {
                                                                        "description": "The resource locations that will be remediated.",
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "lastUpdatedOn": {
                                                                "description": "The time at which the remediation was last updated.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "policyAssignmentId": {
                                                                "description": "The resource ID of the policy assignment that should be remediated.",
                                                                "type": "string"
                                                            },
                                                            "policyDefinitionReferenceId": {
                                                                "description": "The policy definition reference ID of the individual definition that should be remediated. Required when the policy assignment being remediated assigns a policy set definition.",
                                                                "type": "string"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The status of the remediation.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "The type of the remediation.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "x-ms-azure-resource": true,
                                                "type": "object"
                                            },
                                            "readOnly": true,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "List remediations at subscription scope": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "subscriptionId": "35ee058e-5fa0-414c-8145-3ebb8d09b6e2"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "name": "790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "properties": {
                                                "createdOn": "2018-09-13T21:51:09.075918Z",
                                                "deploymentStatus": {
                                                    "failedDeployments": 0,
                                                    "successfulDeployments": 2,
                                                    "totalDeployments": 2
                                                },
                                                "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                                "policyAssignmentId": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg1/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                                "provisioningState": "Succeeded"
                                            },
                                            "type": "Microsoft.PolicyInsights/remediations"
                                        },
                                        {
                                            "id": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg2/providers/microsoft.policyinsights/remediations/0866f0cc-6cb3-422c-9fb6-a4e3e2266da8",
                                            "name": "0866f0cc-6cb3-422c-9fb6-a4e3e2266da8",
                                            "properties": {
                                                "createdOn": "2018-09-13T21:49:16.4638131Z",
                                                "deploymentStatus": {
                                                    "failedDeployments": 0,
                                                    "successfulDeployments": 2,
                                                    "totalDeployments": 2
                                                },
                                                "lastUpdatedOn": "2018-09-13T21:50:18.4647478Z",
                                                "policyAssignmentId": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/resourcegroups/rg2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                                "provisioningState": "Succeeded"
                                            },
                                            "type": "Microsoft.PolicyInsights/remediations"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    },
                    "List remediations at subscription scope with query parameters": {
                        "parameters": {
                            "api-version": "2018-07-01-preview",
                            "subscriptionId": "35ee058e-5fa0-414c-8145-3ebb8d09b6e2"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.policyinsights/remediations/790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "name": "790996e6-9871-4b1f-9cd9-ec42cd6ced1e",
                                            "properties": {
                                                "createdOn": "2018-09-13T21:51:09.075918Z",
                                                "deploymentStatus": {
                                                    "failedDeployments": 0,
                                                    "successfulDeployments": 2,
                                                    "totalDeployments": 2
                                                },
                                                "lastUpdatedOn": "2018-09-13T21:52:10.0011706Z",
                                                "policyAssignmentId": "/subscriptions/35ee058e-5fa0-414c-8145-3ebb8d09b6e2/providers/microsoft.authorization/policyassignments/b101830944f246d8a14088c5",
                                                "policyDefinitionReferenceId": "storageSkuDef",
[...]
